/*
COLORS
*/

$color-primary: #339af0;
$color-on-primary: #220765;
$color-secondary: #74c0fc;
$color-secondary-light: #a5d8ff;
$color-secondary-transparent: rgba(116, 192, 252, 0.6);
$color-tertiary: #4dabf7;

$color-white: #f0eff3;
$color-green: #40c057;
$color-lime: #a9e34b;
$color-yellow: #ffd43b;
$color-orange: #fd7e14;
$color-red: #f03e3e;

/******************************************/

/*
FONT-FAMILY
*/

$main-font-family: "Merriweather", sans-serif;

/*
FONT-SIZE
*/
$main-font-size: 62.5%;

/*
FONT-WEIGHT
*/

$weight-normal: 400;
$weight-bold: 700;

/******************************************/

/*
BOX-SHADOW
*/
$focus-box-shadow: 0 0 1rem $color-secondary;
$card-box-shadow: 0 0 1rem 1rem $color-secondary;
$card-sm-box-shadow: 0 0 1rem 1rem $color-tertiary;
