@import "../base";
@import "../var";
@import "../animations";
@import "../reusable";

header {
  .container {
    max-width: 180rem;
    height: 12rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid $color-white;
    border-radius: 1rem;
  }

  .logo {
    display: flex;
    height: 8rem;
    justify-content: center;
    align-items: center;
  }

  .search {
    &-view {
      position: relative;
      width: 35%;
      &:focus,
      :focus-visible {
        outline: none;
        box-shadow: $focus-box-shadow;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-secondary;
      border-radius: 10rem;
      padding-left: 2rem;
    }

    &-field {
      width: 100%;
      height: 4rem;
      background-color: $color-secondary;
      border-radius: 10rem;
      padding: 0.5rem 2rem 0.5rem 1.3rem;
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      position: relative;
      transition: all 0.2s;
      z-index: 101;

      &::placeholder {
        color: inherit;
        font-family: inherit;
        font-weight: $weight-bold;
      }
    }
    &-results {
      .view {
        &-list {
          text-decoration: none;
          background-color: $color-secondary-transparent;
          padding: 3rem 2rem 2rem 2rem;
          position: absolute;
          width: 100%;
          top: 62%;

          z-index: 100;
        }
        &-item {
          display: flex;
          position: relative;
          gap: 1rem;
          align-items: center;
          margin-inline: -2rem;
          padding: 0 2rem;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          &-title {
            font-size: 1.3rem;
            font-weight: $weight-bold;
            position: absolute;
            top: 0%;
            z-index: 101;
          }
          &-subtitle {
            font-size: 1rem;
            position: absolute;
            z-index: 101;
          }
          &-link {
            position: absolute;
            inset: 0;
            box-shadow: none;
          }
        }
      }
    }
  }

  .input-icon {
    background-color: transparent;
    padding-top: 0.4rem;
    z-index: 101;
  }
}
